<header class="header">
    <div class="logo">
        <img src="../../assets/img/logotipo.png" alt="Logo" href="/inicio">
    </div>
    <nav class="nav">
        <div class="filter">
            <img src="../../assets/img/filtroIcono.png" alt="Filtro" class="iconoFiltro">
            <span>Filtros</span>
        </div>
        <div class="cart">
            <img src="../../assets/img/carritoGif.gif" alt="Carrito" class="iconoFiltro">
            <span>Carrito</span>
        </div>
        <div class="user">
            <img src="../../assets/img/iconoUser.png" alt="Usuario" class="iconoFiltro">
            <span>Usuario</span>
        </div>
    </nav>
</header>
