@use '../../styles.scss' as global;

/*
Puedes acceder a las variables globales del proyecto
de esta manera:

global.$nVariable

*/
$medidaIcono: 40px;
$medidaIconoHover: 50px; /* Tamaño cuando se pasa el cursor */
$colorHover: #3d80f5; /* Color de texto al pasar el cursor */
$glowEffect: 0px 0px 10px rgba(61, 128, 245, 0.8); /* Efecto de resplandor */
$easingEffect: cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Efecto de "rebote" */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
}

.logo img {
    width: 187px;
    height: 210px;
    border-radius: 10px 0 0 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 100px; /* Espacio entre los iconos */
}

/* Estilo común para los íconos */
.iconoFiltro {
    height: $medidaIcono;
    width: $medidaIcono;
    transition: all 0.4s $easingEffect; /* Transición suave con efecto de rebote */
    will-change: transform, filter;
}

/* Animación de pulso con efecto de desplazamiento y resplandor */
.nav .filter:hover .iconoFiltro,
.nav .cart:hover .iconoFiltro,
.nav .user:hover .iconoFiltro {
    transform: scale(1.2) translateY(-5px); /* Aumento y movimiento hacia arriba */
    filter: drop-shadow(0px 0px 8px $colorHover); /* Efecto de sombra luminosa */
    box-shadow: $glowEffect; /* Resplandor alrededor del ícono */
}

/* Animación de texto con color al pasar el ratón */
.nav .filter:hover span,
.nav .cart:hover span,
.nav .user:hover span {
    color: $colorHover; /* Cambia el color del texto */
    transition: color 0.3s ease; /* Transición suave para el color del texto */
}

/* Estilos de los filtros, carrito y usuario */
.filters {
    width: $medidaIcono;
    height: $medidaIcono;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* Estilos para los íconos en el carrito y usuario */
.cart img,
.user img {
    width: $medidaIcono;
    height: $medidaIcono;
}

/* Estilos para los textos */
.filter span, .cart span, .user span {
    font-size: 16px;
    color: rgb(94, 94, 94); /* Color inicial del texto */
    font-weight: bold;
}

.lbl-menu{
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transform: scale(1.2);
}
.lbl-menu #spn1,#spn2,#spn3{
    position: absolute;
    content: '';
    background:#000000;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
}
#spn2{
    top: 12px;
}
#spn3{
    top: 23px;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .lbl-menu #spn1{
    transform: rotate(140deg);
    top: 10px;
}
#btn-menu:checked ~ .lbl-menu #spn2{
    opacity: 0;
}
#btn-menu:checked ~ .lbl-menu #spn3{
    transform: rotate(-140deg);
    top: 10px;
}