<header class="header">
    <div class="logo">
        <img src="../../assets/img/logotipo.png" alt="Logo" href="/inicio">
    </div>
    <nav class="nav">
        <div class="filter">
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu" class="lbl-menu">
                <span id="spn1"></span>
                <span id="spn2"></span>
                <span id="spn3"></span>
            </label>  
        </div>
        <div class="cart">
            <img src="../../assets/img/carritoIcono.png" alt="Carrito" class="iconoFiltro">
            <span>Carrito</span>
        </div>
        <div class="user">
            <img src="../../assets/img/iconoUser.png" alt="Usuario" class="iconoFiltro">
            <span>Usuario</span>
        </div>
    </nav>
</header>
