<footer>
    <div class="footer__div">
        <p>&copy; 2024 Nightout. Todos los derechos reservados.</p>
        <p>Siguenos en:
            <a href="https://www.facebook.com" class="mx-2" target="_blank">Facebook</a> |
            <a href="https://www.instagram.com" class="mx-2" target="_blank">Instagram</a> |
            <a href="https://x.com" class="mx-2" target="_blank" title="X (anteriormente Twitter)">X</a>
        </p>
        <p><a routerLink="/aboutUs" class="about-us-link">About Us</a></p>
        <p><a routerLink="/politicaPrivacidad" class="politica-privacidad-link">Politica De Privacidad</a></p> 
        <p><a routerLink="/contacto" class="contacto-link">Contacto</a></p> 

    </div>
</footer>
