<main class="main-section" role="main">
    <section id="politica-privacidad" class="privacy-policy-section rounded">
        <div class="container">
            <header>
                <h1 tabindex="0">Política de Privacidad</h1>
                <p>
                    En <strong>Nightout</strong>, nos comprometemos a proteger tu privacidad y a garantizar la seguridad de tus datos personales. 
                    Esta política de privacidad describe cómo recopilamos, usamos y protegemos tu información.
                </p>
            </header>
            <article>
                <section>
                    <h2 tabindex="0">1. ¿Qué datos recopilamos?</h2>
                    <ul role="list">
                        <li role="listitem">Nombre completo</li>
                        <li role="listitem">Dirección de correo electrónico</li>
                        <li role="listitem">Detalles del pago</li>
                        <li role="listitem">Datos de la compra de entradas</li>
                    </ul>
                </section>
                <section>
                    <h2 tabindex="0">2. ¿Cómo usamos tus datos?</h2>
                    <ul role="list">
                        <li role="listitem">Procesar y completar tus compras de entradas.</li>
                        <li role="listitem">Enviar códigos QR y confirmaciones de compra a tu correo electrónico.</li>
                        <li role="listitem">Enviarte información sobre nuevas ofertas, eventos o promociones, si optas por recibirlas.</li>
                    </ul>
                </section>
                <section>
                    <h2 tabindex="0">3. ¿Cómo protegemos tus datos?</h2>
                    <p>
                        Implementamos medidas de seguridad avanzadas para proteger tu información personal y financiera. 
                        Utilizamos encriptación SSL para proteger las transacciones de pago y garantizamos que solo personal autorizado acceda a tu información.
                    </p>
                </section>
                <section>
                    <h2 tabindex="0">4. ¿Compartimos tus datos?</h2>
                    <p>
                        No compartimos ni vendemos tus datos personales con terceros. Solo proporcionamos tus datos a empresas asociadas cuando sea necesario para completar una transacción o como lo exija la ley.
                    </p>
                </section>
                <section>
                    <h2 tabindex="0">5. Tus derechos</h2>
                    <p>
                        Tienes el derecho de acceder, corregir o eliminar tus datos personales en cualquier momento. Si deseas ejercer estos derechos, contáctanos en el correo electrónico proporcionado más abajo.
                    </p>
                </section>
                <section>
                    <h2 tabindex="0">6. Cambios en esta política</h2>
                    <p>
                        Podemos actualizar esta política de privacidad ocasionalmente. Cualquier cambio será publicado en esta página, y se notificará a los usuarios por correo electrónico si es necesario.
                    </p>
                </section>
            </article>
            <footer>
                <p tabindex="0">
                    Si tienes alguna pregunta sobre esta política de privacidad, no dudes en ponerte en contacto con nosotros.
                </p>
            </footer>
        </div>
    </section>
</main>
