<main class="main-section">
    <section id="politica-privacidad" class="privacy-policy-section rounded">
        <div class="container">
            <h2>Política de Privacidad</h2>
            <p>En <strong>Nightout</strong>, nos comprometemos a proteger tu privacidad y a garantizar la seguridad de tus datos personales. Esta política de privacidad describe cómo recopilamos, usamos y protegemos tu información.</p>

            <h3>1. ¿Qué datos recopilamos?</h3>
            <p>Recopilamos los siguientes tipos de datos:</p>
            <p>- Nombre completo</p>
            <p>- Dirección de correo electrónico</p>
            <p>- Detalles de pago (como el número de tarjeta de crédito, si aplicable)</p>
            <p>- Datos de la compra de entradas</p>

            <h3>2. ¿Cómo usamos tus datos?</h3>
            <p>Los datos que recopilamos se utilizan para los siguientes fines:</p>
            <p>- Procesar y completar tus compras de entradas.</p>
            <p>- Enviar códigos QR y confirmaciones de compra a tu correo electrónico.</p>
            <p>- Enviarte información sobre nuevas ofertas, eventos o promociones, si optas por recibirlas.</p>

            <h3>3. ¿Cómo protegemos tus datos?</h3>
            <p>Implementamos medidas de seguridad avanzadas para proteger tu información personal y financiera. Utilizamos encriptación SSL para proteger las transacciones de pago y garantizamos que solo personal autorizado acceda a tu información.</p>

            <h3>4. ¿Compartimos tus datos?</h3>
            <p>No compartimos ni vendemos tus datos personales con terceros. Solo proporcionamos tus datos a empresas asociadas cuando sea necesario para completar una transacción o como lo exija la ley.</p>

            <h3>5. Tus derechos</h3>
            <p>Tienes el derecho de acceder, corregir o eliminar tus datos personales en cualquier momento. Si deseas ejercer estos derechos, contáctanos en.</p>

            <h3>6. Cambios en esta política</h3>
            <p>Podemos actualizar esta política de privacidad ocasionalmente. Cualquier cambio será publicado en esta página, y se notificará a los usuarios por correo electrónico si es necesario.</p>

            <p>Si tienes alguna pregunta sobre esta política de privacidad, no dudes en ponerte en contacto con nosotros.</p>
        </div>
    </section>
</main>
