<body class="contacto ">
    <div class=" form-wrapper container">
        <h2 class="mb-4">Formulario de Contacto</h2>
        <form id="contact-form"  (submit)="enviarMail($event)" >
            <div class="mb-3">
                <label for="user_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Tu nombre" required>
            </div>
            <div class="mb-3">
                <label for="user_email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="user_email" name="user_email" placeholder="Tu correo" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
            </div>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</body>


<!-- Modal de agradecimiento -->
<div style="margin: auto;" class="modal fade " id="agradecerContacto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="padding: 30px; border-radius: 12px; text-align: center;">
        <div class="modal-header">
          <h5 class="modal-title" style="margin: auto; font-size: 1.5rem;">
            ¡Gracias por ponerte en contacto con nosotros!
          </h5>
        </div>
        <div class="modal-body" style="margin-top: 15px;">
          <p style="font-size: 1.2rem;">
            Hemos recibido tu mensaje y te responderemos lo antes posible. 
            También encontrarás una copia en tu bandeja de entrada.
          </p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;" class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
</div>
