<body class="contacto mt-5 pt-5">


    <div class=" form-wrapper container mt-5">
        <h2 class="mb-4">Formulario de Contacto</h2>
        <form>-
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="tu@email.com" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
            </div>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>


</body>