<body class="body">
  <div class="body__wrapper">
    <div class="body__principal">
      <!-- Titulo de la seccion -->
      <h1 class="body__h1">Carrito de la compra</h1>

      <!-- Estructura para los productos en el carrito -->
      <div class="body__producto-wraper" *ngFor="let producto of carrito">
        <div class="body__producto">
          <div class="body__info">
            <p class="body__nombreProducto">{{ producto.nombre }}</p>
            <p class="body__tipoEntrada">{{ producto.tipo_entrada }}</p>
            <p class="body__precio">{{ producto.precio }}€</p>
          </div>
          <div class="body__unidades">
            Unidades:
            <div class="body__cantidad">
              <div
                role="group"
                aria-label="Selector de cantidad"
                class="body__selectorCantidad"
              >
                <button
                  aria-label="Disminuir cantidad"
                  title="Disminuir cantidad"
                  class="body__botonCantidad"
                  (click)="actualizarCantidad(producto, producto.cantidad - 1)"
                >
                  -
                </button>
                <span
                  class="body__valorCantidad"
                  aria-live="polite"
                  aria-atomic="true"
                >
                  {{ producto.cantidad || 1 }}
                </span>
                <button
                  aria-label="Incrementar cantidad"
                  title="Aumentar cantidad"
                  class="body__botonCantidad"
                  (click)="actualizarCantidad(producto, producto.cantidad + 1)"
                >
                  +
                </button>
              </div>
            </div>
          </div>
          <button (click)="eliminarProducto(producto)">Eliminar</button>
        </div>
        <hr class="body__separador">
      </div>
    </div>

    <!-- Estructura para los totales -->
    <div class="body__totales">
      <h1 class="body__totales--h1">Resumen</h1>
      <div class="body__totales--info"><span>Subtotal: </span><span>{{ subtotal }}€</span></div>
      <div class="body__totales--info total"><span>Total a pagar:</span><span>{{ total }}€</span></div>
      <div class="body__btnComprar">
        <input type="button" value="COMPRAR" data-bs-toggle="modal" data-bs-target="#compraConfirmada">
      </div>
    </div>
  </div>

  <!-- Modal de confirmación -->
  <div class="modal fade" id="compraConfirmada" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="padding: 30px; border-radius: 12px; text-align: center;">
        <div class="modal-header">
          <h5 class="modal-title" style="margin: auto; font-size: 1.5rem;">Compra Confirmada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body" style="margin-top: 15px;">
          <p style="font-size: 1.2rem;">
            Gracias por tu compra. Tus entradas estarán disponibles en tu correo electrónico.
          </p>
        </div>
        <div class="modal-footer" style="justify-content: center;">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</body>