<!-- modal login -->
<div class=" modal fade" id="carrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class=" contenido-sesion w-100 h-100">

        <div class="titulo-modal">
          
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" data-bs-toggle="modal" data-bs-target="#registro" class="btn btn-secondary">resgistrase</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
          
        </div>
      </div>
    </div>
</div>

