@use './../../styles.scss' as global;

/** 
$color-morado: #5f3fc3;
$color-amarillo: #fde815;
$color-fucsia: #f90461;
$color-negro: #000000;
$gris-oscuro: #505050;
$gris-claro: #f6f6f6;
$color-blanco: #ffff;
$fuente-titulos: "Belanosima", serif;
$fuente-parrafos: "DM Sans", serif;
$fuente-botones: "Noto Sans JP", serif;
*/

$border_radius: 25px;

.body {
    background-color: global.$gris-oscuro;
    min-height: 80vh;
}

.mensaje-vacio {
    margin-top: 5rem;
    text-align: center;
}

.body__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 2rem;
    gap: 5px;
    padding: 5% 2%;
    //padding: 5%;
}

/* Estilos de la columna central */
.body__principal {
    grid-column: 2 / 3;
    align-self: center;
    width: 100%;
    min-height: 640px;
    border-radius: $border_radius;
    background-color: global.$gris-claro;
    margin-top: 3rem;
}

/* Estilos del letrero carrito de la compra */
.body__h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

/* Estilos para el producto */
.body__producto-wraper {
    margin: 1rem;
}

.body__producto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reservado {
    .body__unidades {
        visibility:hidden;
    }

}

.body__nombreProducto {
    font-size: 1rem;
    font-weight: 900;
}

.body__tipoEntrada {
    font-size: .85rem;
}

.body__precio {
    font-size: .95rem;
    font-weight: 900;
}

/* Contenedor de unidades + selector de cantidad */
.body__unidades {
    display: flex;
    align-items: center;
    gap: 15px;
}

.body__cantidad {
    display: flex;
    justify-content: space-between;
}

/* Contenedor del selector de cantidad */
.body__selectorCantidad {
    display: flex;
    gap: 10px;
    align-items: center;
}

.body__botonCantidad {
    border-radius: 50%;
    background-color: global.$color-blanco;
    width: 30px;
    height: 30px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Sombra para al hacer focus */
.body__botonCantidad:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Animación para indicar que el botón ha sido pulsado */
.body__botonCantidad:active {
    animation: bounce 0.2s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* Boton para eliminar un producto del carrito */
.btn-eliminar {
    border: none;
    width: 100px;
    height: 40px;
    background-color: global.$gris-oscuro;
    color: global.$color-blanco;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: global.$fuente-botones;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: 0.3s ease;
}

.btn-eliminar:hover {
    color: global.$color-blanco;
    background-color: global.$color-morado;
}

/* Separador de productos */
.body__separador {
    align-self: flex-end;
    border: none;
    height: 2px;
    background-color: black;
    margin: 2rem 1.5rem;
    opacity: 1;
}

/* Estilos de la segunda columna */
.body__totales {
    margin-top: 5rem;
    height: 20rem;
    grid-column: 3 / -1;
    background-color: global.$gris-claro;
    border-radius: $border_radius;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__totales--h1 {
    align-self: start;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.body__totales--info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
}

.body__totales--info.total {
    font-weight: 750;
}

.body__btnComprar {
    margin-top: 2rem;
}

.body__btnComprar input {
    border: none;
    width: 184px;
    height: 53px;
    background-color: global.$color-amarillo;
    color: global.$color-negro;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: global.$fuente-botones;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 6px;
    transition: 0.3s ease;
}


.body__btnComprar input:hover {
    color: global.$color-blanco;
    background-color: global.$color-morado;
}

.modal.fade .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.modal-custom {
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    /* Tamaño máximo del modal */
}

.modal-body {
    margin-top: 15px;
    font-size: 1.2rem;
}

.modal-footer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    justify-content: center !important;
}


/*Estilos para las modales*/


/* Estilo general de las modales */
.modal-content {
    background-color: #5F3FC3;
    /* Color de fondo similar al de login */
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    color: white;
    /* Color del texto */
}

/* Títulos de las modales */
.modal-title {
    font-family: belanosima;
    letter-spacing: 2px !important;
    font-size: 1.5rem !important;
    color: white !important;
    margin: 0% !important;
    text-align: center !important;
}

/* Cuerpo de la modal */
.modal-body {
    font-size: 1.2rem;
    padding: 20px;
    color: white;
}

/* Footer de la modal (botones) */
.modal-footer {
    display: flex;
    justify-content: center;
    border-top: none;
}

/* Botones dentro de las modales */
.modal-footer .btn {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 8px;

}

/* Botón de cierre */
.btn-close {
    filter: invert(1);
    /* Hace que el botón de cerrar sea blanco */
}


.btn-primary:hover {
    background-color: #e5cc13;
    color: black;
}


.btn-secondary:hover {
    background-color: #e5cc13;
    color: black;
}

/* Centrado del contenedor */
.centrar-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Links dentro de las modales */
a {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 180, 255);
}

/* 📌 RESPONSIVE DESIGN para pantallas pequeñas */
@media (max-width: 430px) {

    /* Ajusta el ancho del modal */
    .modal-dialog {
        max-width: 90%;
        margin: 0 auto;
    }

    /* Ajusta el contenido del formulario */
    .modal-body {
        padding: 1rem;
    }

    /* Asegura que los textos tengan un tamaño adecuado */
    .modal-title {
        font-size: 1.3rem;
        text-align: center;
    }

    /* Botón de cierre */
    .btn-close {
        filter: invert(1);
        /* Asegura que se vea bien en fondos oscuros */
    }
}

@media(max-width: 1024px) {

    .body__principal {
        grid-column: 1 / 3;
    }

    .body__totales {
        grid-column: 3 / -1;
    }
}

/* Responsividad para pantallas pequeñas */
@media(max-width: 768px) {

    .btn-eliminar {
        border: none;
        width: 80px;
        height: 40px;
        background-color: global.$gris-oscuro;
        color: global.$color-blanco;
        text-transform: uppercase;
        border-radius: 25px;
        font-family: global.$fuente-botones;
        font-size: .6rem;
        font-weight: 600;
        letter-spacing: 2px;
        transition: 0.3s ease;
    }

    .body__wrapper {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    /* Ajuste de tamaños de fuentes */
    .body__h1 {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    .body__producto {
        flex-direction: row;
        justify-content: space-between;
    }

    .body__totales {
        grid-column: 1 / -1;
        margin-top: 2rem;
        height: auto;
        padding: 1.5rem;
    }

    /* Ajuste de tamaño de las columnas */
    .body__principal {
        max-width: 100%;
        margin-top: 2rem;
    }

    /* Ajuste de botones */
    .body__btnComprar input {
        width: 150px;
        height: 50px;
    }

    /* Ajuste de separadores */
    .body__separador {
        margin: 1rem 0;
    }
}