@use './../../styles.scss' as global;

/**

$color-morado: #5f3fc3;
$color-amarillo:#fde815;
$color-fucsia:#f90461;
$color-negro: #000000;
$gris-oscuro:#505050;
$gris-claro:#f6f6f6;
$color-blanco: #ffff;
$fuente-titulos: "Belanosima", serif;
$fuente-parrafos: "DM Sans", serif;
$fuente-botones: "Noto Sans JP", serif;

*/

$border_radius: 25px;

.body {
    background-color: global.$gris-oscuro;
    min-height: 100vh;
}

.body__wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    padding: 0 2rem;
    gap: 5px;
    padding: 5%;
}

//Estilos de la columna central
.body__principal {
    grid-column: 2 / 3;
    max-width: 640px;
    min-height: 640px;
    border-radius: $border_radius;
    background-color: global.$gris-claro;

}

//Estilos del letrero carrito de la compra
.body__h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}


//Estilos para el producto
.body__producto-wraper {
    margin: 1rem;
}


.body__producto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.body__nombreProducto {
    font-size: 1rem;
    font-weight: 900;
}

.body__tipoEntrada {
    font-size: .85rem;
}

.body__precio {
    font-size: .95rem;
    font-weight: 900;
}

//Contenedor de unidades + selector de cantidad
.body__unidades {
    display: flex;
    align-items: center;
    gap: 15px;
}

.body__cantidad {
    display: flex;
    justify-content: space-between;


}

//Contendedor del selector de cantidad
.body__selectorCantidad {
    display: flex;
    gap: 10px;
    align-items: center;
}

.body__botonCantidad {
    border-radius: 50%;
    background-color: global.$color-blanco;
    width: 30px;
    height: 30px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

//Sombra para al hacer focus
.body__botonCantidad:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

//Animación para indicar que el boton ha sido pulsado
.body__botonCantidad:active {
    animation: bounce 0.2s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

//Separador de productos
.body__separador {
    align-self: flex-end;
    border: none;
    height: 2px;
    background-color: black;
    margin: 2rem 1.5rem;
    opacity: 1;
}


//Estilos de la segunda columna
.body__totales {
    margin-top: 5rem;
    ;
    height: 20rem;
    grid-column: 3 / -1;
    background-color: global.$gris-claro;
    border-radius: $border_radius;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body__totales--h1 {
    align-self: start;
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

.body__totales--info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
}

.body__totales--info.total {
    font-weight: 750;
}
.body__btnComprar{
    margin-top: 2rem;
}
.body__btnComprar input {
    border:none;
    width: 184px;
    height: 53px;
    background-color: global.$color-amarillo;
    color: global.$color-negro;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: global.$fuente-botones;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 6px;
    transition: 0.3s ease;
}

.body__btnComprar input:hover {
    color: global.$color-blanco;
    background-color: global.$color-morado;
}