<main class="main-section">
    <section id="about-us" class="about-us-section rounded">
        <div class="container">
            <header>
                <h2>Sobre Nosotros</h2>
            </header>
            <article>
                <p>
                    Somos un equipo de cuatro amigos emprendedores en que las personas disfrutan de sus noches de fiesta.
                    <strong>Pedro Ortiz</strong>, <strong>Juan Blanco</strong>, <strong>Andrés Pérez</strong> y 
                    <strong>Sergio Casado</strong>. Nuestra misión es facilitar el acceso a eventos exclusivos de manera 
                    rápida a través de nuestra plataforma.
                </p>

                <section>
                    <h3>¿Por qué creamos Nightout?</h3>
                    <p>
                        La idea de <strong>Nightout</strong> nació de la necesidad de asistir a los mejores eventos sin hacer 
                        largas filas ni perder oportunidades por falta de tiempo. Decidimos crear una plataforma que permite la 
                        compra de entradas para discotecas, conciertos y eventos especiales desde casa. Además, enviamos los 
                        códigos QR para facilitar el acceso de forma rápida y sencilla.
                    </p>
                </section>

                <section>
                    <h3>Nuestros Objetivos</h3>
                    <ul>
                        <li>Proporcionar a nuestros usuarios una plataforma sencilla para la compra de entradas.</li>
                        <li>Ofrecer una experiencia de usuario sin complicaciones y acceso a eventos exclusivos con un solo clic.</li>
                        <li>Ser líderes en la venta de entradas para eventos y garantizar un servicio de calidad.</li>
                        <li>Fomentar la diversión y ofrecer experiencias únicas.</li>
                    </ul>
                </section>

                <section>
                    <h3>¿Por qué elegirnos?</h3>
                    <p>
                        En <strong>Nightout</strong>, nos dedicamos a hacer de cada evento una experiencia inolvidable. Nuestro 
                        equipo trabaja día a día para garantizar la mejor gestión de entradas y ofrecer una amplia variedad de 
                        eventos. ¿Listo para la mejor fiesta de tu vida? ¡No lo pienses más!
                    </p>
                </section>
            </article>
        </div>
    </section>
</main>
