<main class="main-section">
    <section id="about-us" class="about-us-section rounded">
        <div class="container">
            <h2>Sobre Nosotros</h2>
            <p>Somos un equipo de cuatro amigos emprendedores que buscamos revolucionar la manera en que las personas disfrutan de sus noches de fiesta. Fundada por <strong>Álvaro Ortiz</strong>, <strong>Juan Blanco</strong>, <strong>Manuel González</strong>, y <strong>Sergio Casado</strong>, nuestra misión es ofrecerte la manera más fácil y rápida de acceder a eventos exclusivos a través de nuestra plataforma.</p>

            <h3>¿Por qué creamos Nightout?</h3>
            <p>La idea de <strong>Nightout</strong> nació de la frustración que sentimos al intentar asistir a los mejores eventos, pero siempre teniendo que esperar en largas filas o perder oportunidades por falta de tiempo. Como amantes de la música y las fiestas, decidimos crear una plataforma que permita a los usuarios comprar entradas para discotecas, conciertos, y eventos especiales, directamente desde la comodidad de su hogar. Además, enviamos los códigos QR por correo electrónico para hacer todo más sencillo y rápido.</p>

            <h3>Nuestros Objetivos</h3>
          <p>
                Proporcionar a nuestros usuarios una plataforma segura, rápida y confiable para la compra de entradas.
                Ofrecer una experiencia de usuario sin complicaciones, donde puedas acceder a eventos exclusivos con solo un clic.
                 Ser líderes en la venta de entradas para eventos nocturnos, con el compromiso de entregar un servicio de calidad
                 Fomentar la diversión y las experiencias únicas en cada fiesta o evento organizado.
                </p>

            <h3>¿Por qué elegirnos?</h3>
            <p>En <strong>Nightout</strong>, nos dedicamos a ofrecerte solo lo mejor. Nuestro equipo trabaja día a día para garantizarte la mejor experiencia en la compra de entradas, además de ofrecerte una amplia variedad de eventos. ¿Estás listo para unirte a la mejor fiesta de tu vida? ¡No lo pienses más!</p>
        </div>
    </section>
</main>
