<!-- modal login -->
<div class=" modal fade" id="login" tabindex="-1" role="dialog" aria-label="exampleModalLabel" aria-hidden="true">
  <div class="modal-sesion modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content contenido-sesion w-100 ">

      <div class="centrar-contenedor  pt-5">
        <h3 class="titulo-texto">INICIO DE SESION</h3>
      </div>

      <div class="modal-body centrar-contenedor p-3">
        <form (submit)="login(logForm)" #logForm="ngForm">

          <div class="form-group mt-5 ">

            <input type="text" class="form-control formulario" name="email" [(ngModel)]="credentials.email"
              id="formGroupUsuarioLogin" aria-label="Recuadro correo" placeholder="Tu correo" required
              #username="ngModel">

            <div *ngIf="username.invalid && username.dirty">
              <span *ngIf="username.errors?.['required']">El nombre de usuario es obligatorio</span>
            </div>
          </div>

          <div class="form-group pt-5 mb-5">
            <input type="password" class="form-control formulario" name="password" [(ngModel)]="credentials.password"
              id="formGroupContraseñaLogin" aria-label="Recuadro contraseña" placeholder="Contraseña" required
              #pass="ngModel">

            <div *ngIf="pass.invalid && email.dirty" class="text-danger">
              <span *ngIf="email.errors?.['required']">La contraseña es obligatoria</span>
            </div>
          </div>

          <button type="submit" class="btn btn-primary mt-5 w-100 boton-submit rounded-4"
            [disabled]="logForm.invalid">Inicia sesión</button>

          <div *ngIf="loginErrorMessage" class="alert alert-danger text-center mt-3">
            {{ loginErrorMessage }}
          </div>
        </form>
      </div>
      <p class="ps-5 m-2 pt-2 m-0 pb-2">¿No tienes cuenta?<a class="p-2" data-bs-toggle="modal"
          data-bs-target="#registro">REGISTRATE</a></p>
      <div class="modal-footer border-0">
        <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button> -->
        <button type="button" class="btn btn-danger text-white rounded-3 px-3 py-2" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal registro -->
<div class=" modal fade" id="registro" tabindex="-1" role="dialog" aria-label="registroLabel" aria-hidden="true">
  <div class="modal-sesion modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content contenido-sesion ">

      <div class="centrar-contenedor  pt-5">
        <h3 class="titulo-texto">CREAR CUENTA </h3>
      </div>

      <div class="modal-body centrar-contenedor p-3">
        <form (submit)="register(regForm)" #regForm="ngForm">

          <div class="form-group mt-4 ">
            <input type="text" class="form-control formulario" id="formGroupNombre" name="first_name"
              [(ngModel)]="user.first_name" aria-label="Cuadro nombre" placeholder="Nombre" required
              #first_name="ngModel">


            <div *ngIf="first_name.invalid && first_name.dirty" class="text-danger">
              <span *ngIf="first_name.errors?.['required']">El nombre es obligatorio</span>
            </div>
          </div>

          <div class="form-group pt-3">
            <input type="text" class="form-control formulario" id="formGroupApellidos" name="last_name"
              [(ngModel)]="user.last_name" aria-label="Cuadro apellidos" placeholder="Apellidos" required
              #last_name="ngModel">

            <div *ngIf="last_name.invalid && last_name.dirty" class="text-danger">
              <span *ngIf="last_name.errors?.['required']">Los apellidos son obligatorio</span>
            </div>
          </div>
          <div class="form-group mt-3 ">

            <input type="text" class="form-control formulario" id="formGroupDNI" name="dni" [(ngModel)]="user.dni"
              aria-label="Cuadro DNI" placeholder="DNI (Ej: 12345678a)" required pattern="^[0-9]{8}[A-HJ-NP-TV-Za-hj-np-tv-z]$"
              #dni="ngModel">

            <div *ngIf="dni.invalid && dni.dirty" class="text-danger">
              <span *ngIf="dni.errors?.['required']">El DNI es obligatorio.</span>
              <span *ngIf="dni.errors?.['pattern']">Formato incorrecto (Ej: 12345678A).</span>
            </div>


          </div>

          <div class="form-group pt-3">
            <input type="email" class="form-control formulario" id="formGroupCorreo" name="email"
              [(ngModel)]="user.email" aria-label="Cuadro Correo Electrónico" placeholder="Correo Electrónico" required
              #email="ngModel">


            <div *ngIf="email.invalid && email.dirty" class="text-danger">
              <span *ngIf="email.errors?.['required']">El correo es obligatorio.</span>
              <span *ngIf="email.errors?.['email']">Introduce un correo válido.</span>
            </div>

          </div>


          <div class="form-group mt-3">
            <input type="text" class="form-control formulario" id="formGroupNombreDeUsuario" name="nombre_usuario"
              [(ngModel)]="user.nombre_usuario" aria-label="Cuadro nombre" placeholder="Nombre de usuario" required
              #nombre_usario="ngModel">


            <div *ngIf="nombre_usario.invalid && nombre_usario.dirty" class="text-danger">
              <span *ngIf="nombre_usario.errors?.['required']">El nombre de usuario es obligatorio</span>
            </div>
          </div>


          <div class="form-group mt-3 ">
            <input type="text" class="form-control formulario" id="formGroupTitularTarjetaDeCredito"
              name="titular_tarjeta" [(ngModel)]="user.titular_tarjeta" aria-label="Titular de la tarjeta de credito"
              placeholder="Titular de la tarjeta de credito" required #titular_tarjeta="ngModel">


            <div *ngIf="titular_tarjeta.invalid && titular_tarjeta.dirty" class="text-danger">
              <span *ngIf="titular_tarjeta.errors?.['required']">El titular de la tarjeta es obligatorio</span>
            </div>
          </div>

          <div class="form-group mt-3 d-flex justify-content-between">
            <input type="text" class="form-control formulario input-reducido" id="formGroupNumeroDeTarjetaDeCredito"
              name="numero_tarjeta_credito" [(ngModel)]="user.numero_tarjeta_credito"
              aria-label="Número de su tarjeta de crédito" placeholder="Número de tarjeta (16 dígitos)" required
              pattern="^[0-9]{16}$" #numeroTarjeta="ngModel" required>

            <div *ngIf="numeroTarjeta.invalid && numeroTarjeta.dirty" class="text-danger">
              <span *ngIf="numeroTarjeta.errors?.['required']">El número de tarjeta es obligatorio.</span>
              <span *ngIf="numeroTarjeta.errors?.['pattern']">Debe contener exactamente 16 dígitos.</span>
            </div>


            <input type="text" class="form-control formulario input-reducido ms-2" id="formGroupCVCDeTarjetaDeCredito"
              name="cvc" [(ngModel)]="user.cvc" aria-label="CVC de su tarjeta de crédito" placeholder="CVC (3 dígitos)"
              #cvc="ngModel" required pattern="^[0-9]{3}$">

            <div *ngIf="cvc.invalid && cvc.dirty" class="text-danger">
              <span *ngIf="cvc.errors?.['required']">El CVC es obligatorio</span>
              <span *ngIf="cvc.errors?.['pattern']">El CVC debe tener exactamente 3 dígitos</span>
            </div>

          </div>


          <div class="form-group pt-3">
            <input type="password" class="form-control formulario" id="formGroupContraseñaRegistro" name="password"
              [(ngModel)]="user.password" aria-label="Cuadro Contraseña" placeholder="Contraseña" required
              pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$" #password="ngModel">


            <div *ngIf="password.invalid && password.dirty" class="text-danger">
              <span *ngIf="password.errors?.['required']">La contraseña es obligatoria.</span>
              <span *ngIf="password.errors?.['pattern']">
                La contraseña debe tener al menos 8 caracteres, una letra mayúscula y un número.
              </span>
            </div>
          </div>

          <button type="submit" class="btn btn-primary mt-4 w-100 boton-submit rounded-4"
            [disabled]="regForm.invalid">Registrarse</button>

          <p class="ps-5 m-2 pt-2 m-0 pb-2">¿Ya tienes cuenta?<a class="p-2" data-bs-toggle="modal"
              data-bs-target="#login">INICIA SESION</a></p>

          <div class="modal-footer border-0">

            <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button> -->

            <button type="button" class="btn btn-danger text-white rounded-3 px-3 py-2" data-bs-dismiss="modal">
              Close
            </button>
          </div>

          <div *ngIf="registerErrorMessage" class="alert alert-danger text-center mt-3">
            {{ registerErrorMessage }}
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
