.contenido-sesion{

    background-color: #5F3FC3;
}

.titulo-texto{
    color: white;
}

.modal-sesion{

    max-width: 925px;
}
.titulo-texto{

    font-family: belanosima;
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: 100;

}

.centrar-contenedor{
    display: flex;
    align-items: center;
    justify-content: center; /* Centrado horizontal */
}

.formulario{
    width: 800px;
    height:50px;
}
.boton-submit{
    background-color: #FDE815;
    color: black;
}
