<body class="main">

    <div class="discoteca">
        <h1 class="discoteca__nombre">Rosso</h1>
        <div class="discoteca__img">
            <div class="slider">
                <img src="../../assets/img/rosso1.webp" alt="imagenDiscotecaRosso1" title="Imagen de discoteca Rosso">
                <img src="../../assets/img/rosso2.webp" alt="imagenDiscotecaRosso2" title="Imagen de discoteca Rosso">
                <img src="../../assets/img/rosso3.webp" alt="imagenDiscotecaRosso3" title="Imagen de discoteca Rosso">
            </div>
        </div>
        <div class="discoteca__listaServicios">
            <ul>
                <li>
                    <p><span class="servicio">Dirección: </span><span>C. Matemáticos Rey Pastor y Castro, 41092
                            Sevilla</span></p>
                </li>
                <li>
                    <p><span class="servicio">Horario: </span><span>00:00 - 6:00 am</span></p>
                </li>
                <li>
                    <p><span class="servicio">Guardarropa: </span><span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Parking cerca: </span> <span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Etiqueta: </span><span>Prohibido usar zapatillas de deporte. Se recomienda
                            asistir en polo o camisa.</span></p>
                </li>
            </ul>
        </div>
        <div class="discoteca__precios">
            <h3><span>Entrada:</span><span> 20€</span></h3>
            <h3><span>Reservado: </span><span>160€</span></h3>
        </div>
        <div class="discoteca__btn-entrada"><input class="btn-comprar" type="button" value="Añadir Entrada"></div>
        <div class="discoteca__btn-reservado"><input class="btn-comprar" type="button" value="Añadir Reservado"></div>

        <div class="discoteca__ambiente">
            <p><span>Ambiente: </span><span>+18 Público variado</span></p>
        </div>

        <div class="discoteca__descripcion">
            <p><span>Descripción: </span><span>Situado sobre los pilares del antiguo Pabellón Olímpico en la pasada
                    exposición del 92, este
                    espacio cuenta con 2500 metros cuadrados y un gran equipo tecnológico y musical, consiguiendo así
                    ser todo
                    un referente del mundo de la diversión nocturna en la capital hispalense.</span>
            </p>
        </div>

    </div>

    <div class="discoteca">
        <h1 class="discoteca__nombre">Monasterio </h1>
        <div class="discoteca__img">
            <div class="slider">
                <img src="../../assets/img/monasterio1.webp" alt="imagenDiscotecaMonasterio1" title="Imagen de discoteca Monasterio">
                <img src="../../assets/img/monasterio2.webp" alt="imagenDiscotecaMonasterio2" title="Imagen de discoteca Monasterio">
                <img src="../../assets/img/monasterio3.webp" alt="imagenDiscotecaMonasterio3" title="Imagen de discoteca Monasterio">
            </div>
        </div>
        <div class="discoteca__listaServicios">
            <ul>
                <li>
                    <p><span class="servicio">Dirección: </span><span>C. Amor de Dios, 18, Casco Antiguo, 41002 Sevilla </span></p>
                </li>
                <li>
                    <p><span class="servicio">Horario: </span><span>00:00 - 6:00 am</span></p>
                </li>
                <li>
                    <p><span class="servicio">Guardarropa: </span><span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Parking cerca: </span> <span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Etiqueta: </span><span>No hay normas de etiqueta</span></p>
                </li>
            </ul>
        </div>
        <div class="discoteca__precios">
            <h3><span>Entrada:</span><span> 15€</span></h3>
            <h3><span>Reservado: </span><span>160€</span></h3>
        </div>
        <div class="discoteca__btn-entrada"><input class="btn-comprar" type="button" value="Añadir Entrada"></div>
        <div class="discoteca__btn-reservado"><input class="btn-comprar" type="button" value="Añadir Reservado"></div>

        <div class="discoteca__ambiente">
            <p><span>Ambiente: </span><span>+18 Público variado</span></p>
        </div>

        <div class="discoteca__descripcion">
            <p><span>Descripción: </span><span>El Monasterio Sevilla es una renombrada discoteca ubicada en pleno 
                corazón de Sevilla, en la calle C. Amor de Dios, 18. Con una amplia oferta de 
                servicios y una atención de primera calidad, esta discoteca ofrece una
                experiencia nocturna inigualable. Con su ambiente vibrante y su excelente selección musical, Monasterio Sevilla se ha ganado el reconocimiento como uno de los mejores clubes nocturnos de la ciudad. Sin duda, es el lugar perfecto para pasar una noche llena de diversión y baile en la emocionante ciudad de Sevilla.
                </span>
            </p>
        </div>

    </div>

    <div class="discoteca">
        <h1 class="discoteca__nombre">Holiday </h1>
        <div class="discoteca__img">
            <div class="slider">
                <img src="../../assets/img/holiday 1.webp" alt="imagenDiscotecaHoliday1" title="Imagen de discoteca Holiday">
                <img src="../../assets/img/holiday 2.webp" alt="imagenDiscotecaHoliday2" title="Imagen de discoteca Holiday">
                <img src="../../assets/img/holiday 3.webp" alt="imagenDiscotecaHoliday3" title="Imagen de discoteca Holiday">
            </div>
        </div>
        <div class="discoteca__listaServicios">
            <ul>
                <li>
                    <p><span class="servicio">Dirección: </span><span>Jesús del Gran Poder, 73, Casco Antiguo, 41002 Sevilla.</span></p>
                </li>
                <li>
                    <p><span class="servicio">Horario: </span><span>00:00 - 6:00 am</span></p>
                </li>
                <li>
                    <p><span class="servicio">Guardarropa: </span><span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Parking cerca: </span> <span>No</span></p>
                </li>
                <li>
                    <p><span class="servicio">Etiqueta: </span><span>No hay normas de etiqueta</span></p>
                </li>
            </ul>
        </div>
        <div class="discoteca__precios">
            <h3><span>Entrada:</span><span> 20€</span></h3>
            <h3><span>Reservado: </span><span>120€</span></h3>
        </div>
        <div class="discoteca__btn-entrada"><input class="btn-comprar" type="button" value="Añadir Entrada"></div>
        <div class="discoteca__btn-reservado"><input class="btn-comprar" type="button" value="Añadir Reservado"></div>

        <div class="discoteca__ambiente">
            <p><span>Ambiente: </span><span>+18 Público variado</span></p>
        </div>

        <div class="discoteca__descripcion">
            <p><span>Descripción: </span><span>Se encuentra en pleno centro de Sevilla, en la Calle Jesús del Gran Poder, 73, paralela a la Alameda de Hércules. Cuenta con más de 350 asientos, pantallas audiovisuales, escenario,2 pistas de baile, zonas vips, dos barras y totalmente climatizado.
                </span>
            </p>
        </div>

    </div>


</body>





<!--

 <!-- Carrusel de fotos 
 <div class="col-md-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicadores 
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- Contenido del carrusel 
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/burger1.jpg" class="d-block w-100" alt="Hamburguesa deliciosa" style="height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
          <img src="assets/img/burger2.jpg" class="d-block w-100" alt="Mesa con hamburguesas" style="height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
          <img src="assets/img/burger3.jpg" class="d-block w-100" alt="Amigos disfrutando de comida" style="height: 400px; object-fit: cover;">
        </div>
      </div>

      <!-- Controles 
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

-->