<body class="main">

    <div class="discoteca">
        <h1 class="discoteca__nombre">Rosso</h1>
        <div class="discoteca__img">
            <img src="https://placehold.co/499x375" alt="imagenDiscoteca">
        </div>
        <div class="discoteca__listaServicios">
            <ul>
                <li>
                    <p><span class="servicio">Dirección: </span><span>C. Matemáticos Rey Pastor y Castro, 41092 Sevilla</span></p>
                </li>
                <li>
                    <p><span class="servicio">Horario: </span><span>00:00 - 6:00 am</span></p>
                </li>
                <li>
                    <p><span class="servicio">Guardarropa: </span><span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Parking cerca: </span> <span>Si</span></p>
                </li>
                <li>
                    <p><span class="servicio">Etiqueta: </span><span>Prohibido usar zapatillas de deporte. Se recomienda asistir en polo o camisa.</span></p>
                </li>
            </ul>
        </div>
        <div class="discoteca__entrada">
            <p><span>Entrada:</span><span> 20€</span></p>
        </div>
        <div class="discoteca__reservado">
            <p><span>Reservado: </span><span>160€</span></p>
        </div>
        <div class="discoteca__btn-entrada"><input class="btn-comprar" type="button" value="Añadir Entrada"></div>
        <div class="discoteca__btn-reservado"><input class="btn-comprar" type="button" value="Añadir Reservado"></div>
    
        <div class="discoteca__ambiente">
            <p><span>Ambiente: </span><span>+18 Público variado</span></p>
        </div>
        
        <div class="discoteca__descripcion">
            <p><span>Descripción: </span><span>Situado sobre los pilares del antiguo Pabellón Olímpico en la pasada exposición del 92, este
                espacio cuenta con 2500 metros cuadrados y un gran equipo tecnológico y musical, consiguiendo así ser todo
                un referente del mundo de la diversión nocturna en la capital hispalense.</span>
            </p>
        </div>
    
    </div>
</body>