@use '../../styles.scss' as global;

/*
Puedes acceder a las variables globales del proyecto
de esta manera:

global.$nVariable

*/

.main {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: global.$gris-oscuro;
    color: global.$color-blanco;
}

.discoteca {
    width: 1230px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(7, auto);
    gap: 10px;

    margin-bottom: 6%;
}

.discoteca__nombre {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-transform: uppercase;
}

.discoteca__img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/6;
}

.discoteca__listaServicios {
    grid-column: 2 / -1;
    grid-row: 2 / 3;

    .servicio {
        font-weight: 800;
    }

    ul,
    li {
        list-style-type: disc;
    }
}

.discoteca__entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.discoteca__reservado {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4 / -1;
    grid-row: 3 / 4;
}

.btn-comprar {
    width: 602px;
    height: 77px;
    background-color: global.$color-amarillo;
    color: global.$color-negro;
    text-transform: uppercase;
    border-radius: 20px;
    font-family: global.$fuente-botones;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 6px;
}

.discoteca__btn-entrada {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
}

.discoteca__btn-reservado {
    grid-column: 2 / -1;
    grid-row: 5 / 6;
}

.discoteca__ambiente {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
}

.discoteca__descripcion {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
}