<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="top: 90px;">
  <!-- Header del Offcanvas -->
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filtros</h5>
  </div>

  <!-- Contenido del Offcanvas -->
  <div class="offcanvas-body">
      <!-- Filtros Adicionales con Checkbox -->
      <div class="mt-4">
          <h6>Extras</h6>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="guardarropa">
              <label class="form-check-label" for="guardarropa">
                  Con Guardarropa
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="parking">
              <label class="form-check-label" for="parking">
                  Con Parking
              </label>
          </div>
            </div>

              <!-- Desplegable de Zonas -->
              <div class="mt-4">
                <h6>Filtrar por Zona</h6>
                <select class="form-select" id="zonaFiltro">
                    <option value="" selected>Selecciona una zona</option>
                    <option value="centro">Centro</option>
                    <option value="norte">Zona Norte</option>
                    <option value="sur">Zona Sur</option>
                    <option value="este">Zona Este</option>
                    <option value="oeste">Zona Oeste</option>
                </select>
            </div>

      <div class="mt-4 text-center">
        <button class="btn btn-primary" id="applyFilters" onclick="applyFilters()">
            Aplicar Filtros
        </button>
      </div>
  </div>
</div>
