//Reseteo de estilos
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    a {
        all: unset; /* Quita todos los estilos predeterminados */
        cursor: pointer; /* Devuelve el comportamiento de cursor típico de enlaces */
    }
}


//Variables globales
$color-morado: #5f3fc3;
$color-amarillo:#fde815;
$color-fucsia:#f90461;
$color-negro: #000000;
$gris-oscuro:#505050;
$gris-claro:#f6f6f6;
$color-blanco: #ffff;
$fuente-titulos: "Belanosima", serif;
$fuente-parrafos: "DM Sans", serif;
$fuente-botones: "Noto Sans JP", serif;

body{
    background-color: $gris-oscuro;
}

h1{
    font-family: $fuente-titulos;
}
    
p{
    font-family: $fuente-botones;
}