/* You can add global styles to this file, and also import other style files */
//Reseteo de estilos
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


//Variables globales
$morado: #5f3fc3;
$amarillo:#fde815;
$fucsia:#f90461;
$gris-oscuro:#505050;
$gris-claro:#f6f6f6;

