@use '../../styles.scss' as global;

/*
Puedes acceder a las variables globales del proyecto
de esta manera:

global.$nVariable

*/.portada {
    
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }