@use '../../styles.scss' as global;

/*
Puedes acceder a las variables globales del proyecto
de esta manera:

global.$nVariable

*/
.portada {
    
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .titulo {
    font-family: roboto;
    color: #F6F6F6;
    font-weight: 700;
    font-size: 96px;
    left: 30%;
    position: absolute;
    top: 40%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;

  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .titulo.visible {
    opacity: 1;
    transform: translateY(0);
  }